<div class="card scrollable-content">
  <div class="card-header text-bg-primary d-flex justify-content-between">
    <h5 class="card-title m-1" id="modalInsertOriginExpenseLabel">Cadastro Pagador</h5>
    <button type="button" class="btn-close m-1" (click)="cancel()" aria-label="Close"></button>
  </div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome do pagador" [(ngModel)]="name" name="nome">
      </div>
    </form>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="name === ''">Salvar</button>
  </div>
</div>
