<div class="card align-items-center col-10 mt-5">
<div class="card-header col-12 justify-content-around d-flex"><span>App Finance</span>
</div>
<div class="card-body col-12">
  <div class="d-flex justify-content-end mb-3" *ngIf="loginValidate && !loading">
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>

  <div *ngIf="!loginValidate && !loading">
    <app-login-screen
      (userLogado)="validateLogin($event)"
      (user)="setUser($event)">
    </app-login-screen>
  </div>

  <div *ngIf="loginValidate && !loading">
    <app-home
    [user]="user"
    ></app-home>
  </div>
  <div *ngIf="loading">
    <span>CARREGANDO</span>
  </div>
</div>
</div>
