  <div class=" container">
    <div class="btn-group mt-2 d-flex" role="group" aria-label="Menu de ações">
      <button type="button" class="border-0 btn btn-outline-primary" (click)="addNewGoal()">Adicionar objetivo</button>
      <button type="button" class="border-0 btn btn-outline-primary" (click)="addNewExpense()">Adicionar origem despesa</button>
      <button type="button" class="border-0 btn btn-outline-primary" (click)="addNewIncome()">Adicionar fonte de renda</button>
    </div>
  </div>
