<div class="d-flex justify-content-between align-items-center rounded-top">

  <div class="col-2 ms-4 mt-2">
    <!-- <button class="btn btn-primary me-2">
      <i class="bi bi-plus-circle me-1"></i>
      <span>Entrada</span>
    </button> -->
  </div>
  <div class="col-2 mt-2">
    <select class="form-select mb-2" [(ngModel)]="selectedDate" (ngModelChange)="onchangeDate()" title="Select Date">
      <option *ngFor="let date of dates" [value]="date">{{ date }}</option>
    </select>
  </div>
</div>

<div class="d-flex justify-content-between rounded-top">
  <div class=" text-center mx-2 w-25">
    <div class="p-1 rounded text-xxl-start">
      <div class="d-flex justify-content-start mb-2">
        <button class="btn btn-outline-success ">
          <i class="bi bi-plus-circle me-1"></i>
          <span>Entrada</span>
        </button>
        <h5 class="card-title"></h5>
      </div>
      <div class="d-flex justify-content-between">
        <b><p class="card-text">{{ valueRecordsIncome | currency:'BRL':'symbol':'1.2-2' }}</p></b>
        <p class="card-text" [ngClass]="valueRecordsIncome - totalPayable < 0 ? 'text-danger' : 'text-success'">{{
          valueRecordsIncome - totalPayable | currency:'BRL':'symbol':'1.2-2' }}</p>
      </div>
    </div>
  </div>
  <div class="text-center mx-2 w-25">
    <div class="p-1 border-2 rounded card-footer border-primary"
      [ngClass]="{'text-bg-success': reserveAdded, 'border-primary': !reserveAdded}">
      <div class="d-inline-flex">
        <h5 class="card-title me-1">Reserva</h5>
        <i class="bi bi-piggy-bank-fill"
          [ngClass]="{'text-bg-success': reserveAdded, 'text-primary': !reserveAdded}"></i>
      </div>
      <p class="card-text">{{ totalReserve | currency:'BRL':'symbol':'1.2-2' }}</p>
    </div>
  </div>
  <div class="text-center mx-2 w-25">
    <div class="p-1 border-2 rounded card-footer border-info">
      <h5 class="card-title">Descontos</h5>
      <p class="card-text">{{ totalDiscount | currency:'BRL':'symbol':'1.2-2' }}</p>
    </div>
  </div>
  <div class="text-center mx-2 w-25">
    <div class="p-1 border-2 rounded card-footer border-success">
      <div class="d-inline-flex">
        <h5 class="card-title me-1">Pago</h5>
        <i class="bi bi-check-circle-fill text-success"></i>
      </div>
      <p class="card-text">{{ totalPayable | currency:'BRL':'symbol':'1.2-2' }}</p>
    </div>
  </div>
  <div class="text-center mx-2 w-25">
    <div class="p-1 border-2 rounded card-footer border-warning">
      <div class="d-inline-flex">
        <h5 class="card-title m-1">Pendente</h5>
        <i class="bi bi-hourglass-split text-warning"></i>
      </div>
      <p class="card-text">{{ totalPending | currency:'BRL':'symbol':'1.2-2' }}</p>
    </div>
  </div>
  <div class="text-center mx-2 w-25">
    <div class="p-1 border-2 rounded card-footer border-danger">
      <div class="d-inline-flex">
        <h5 class="card-title m-1">Atrasado</h5>
        <i class="bi bi-exclamation-circle-fill text-danger"></i>
      </div>
      <p class="card-text">{{ totalLate | currency:'BRL':'symbol':'1.2-2' }}</p>
    </div>
  </div>
</div>
<div class="container-fluid card">
  <div class="row bg-primary text-white align-items-center justify-content-around py-2">
    <div class="col-1"></div>
    <div class="col-2">Origem</div>
    <div class="col-1">Venc.</div>
    <div class="col-2">Descontos</div>
    <div class="col-2">A Pagar</div>
    <div class="col-2">Prox. Mês</div>
    <div class="col-2">Futuras</div>
  </div>
  <div class="scrollable-content p-2">
    <div *ngFor="let record of recordsFiltrados; let i = index" class="row border-bottom align-items-center py-2">
      <div class="col-1 d-flex justify-content-between">
        <i class="bi bi-pencil-fill" (click)="editRecord(record)"></i>
        <i class="bi bi-trash-fill" (click)="deleteRecord(record)"></i>
      </div>
      <div class="col-2" [attr.title]="record.Details_Origin.Description">
        {{ truncate(record.Details_Origin.Description, 10) }}
      </div>
      <div class="col-1">{{ record.Details_Origin.due_date }}</div>
      <div class="col-2">{{ record.discounts | currency:'BRL':'symbol':'1.2-2' }}</div>
      <div class="col-2 d-flex justify-content-between align-items-baseline">
        <span>
          <b> {{ (record.value - record.discounts) | currency:'BRL':'symbol':'1.2-2' }}</b>
        </span>
        <!-- <span class="p-1 rounded" [ngClass]="classByStatus(record)">
          {{ classByStatus(record) === "text-success" ? 'Pago' :
          classByStatus(record) === "text-danger" ? 'Atrasado' :
          'Pendente' }}
        </span> -->
        <span class="p-1 rounded" [ngClass]="classByStatus(record)">
          <i *ngIf="classByStatus(record) === 'text-success'" class="bi bi-check-circle-fill"></i>
          <i *ngIf="classByStatus(record) === 'text-danger'" class="bi bi-exclamation-circle-fill"></i>
          <i *ngIf="classByStatus(record) === 'text-warning'" class="bi bi-hourglass-split"></i>
        </span>
      </div>
      <div class="col-2">{{ filterValueNextMonth(record.details_origin_id) | currency:'BRL':'symbol':'1.2-2' }}</div>
      <div class="col-2 d-flex justify-content-between align-items-center">
        {{ filterValueAllMonths(record.details_origin_id) | currency:'BRL':'symbol':'1.2-2' }}
        <button *ngIf="!record.payment && record.definitive_value" class="btn btn-success btn-sm"
          (click)="informPayment(record)" title="Informe Pagamento">
          Pay
        </button>
        <button
          *ngIf="!record.payment && !record.definitive_value && isDatePast(record.Details_Origin.Closing_day, record.month, record.year)"
          class="btn btn-warning btn-sm" (click)="informPayment(record)" title="Informe Pagamento">
          Update
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between p-2">
    <button class="btn btn-secondary" (click)="addReserve()">
      <i class="bi bi-plus-circle me-1"></i>
      <span>Adicionar reserva</span>
    </button>
    <button class="btn btn-primary me-2">
      <i class="bi bi-plus-circle me-1"></i>
      <span>Adicionar despesa</span>
    </button>
  </div>
</div>
<!-- <div class="d-flex justify-content-between mt-2">
  <div *ngIf="allGoals.length > 0 && !loadingGoals">
    <app-goals [allGoals]="allGoals">
    </app-goals>
  </div>
</div> -->
