<div class="card">
  <div class="card-header text-bg-primary d-flex justify-content-between align-items-center">
    <h5 class="card-title m-0">Inserir Registro de Despesa</h5>
    <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
  </div>
  <div class="card-body">
    <form>
      <!-- Origem, Valor e Descontos -->
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="detailsOrigin" class="form-label fw-bold">Origem:</label>
            <select
              class="form-select"
              id="detailsOrigin"
              [(ngModel)]="idDetailsOrigin"
              name="detailsOrigin"
              (change)="onDetailsOriginChange($event)"
            >
              <option *ngFor="let origin of details_origin" [value]="origin.id">{{ origin.Description }}</option>
            </select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="value" class="form-label fw-bold">Valor:</label>
            <input
              type="number"
              class="form-control"
              id="value"
              [(ngModel)]="value"
              name="value"
              step="10.00"
              min="0"
            />
          </div>
        </div>
         <div class="col-2">
          <div class="form-group">
            <label for="discounts" class="form-label fw-bold">Descontos:</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                id="discounts"
                [(ngModel)]="discounts"
                name="discounts"
                step="10.00"
                min="0"
              />
              <!-- <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="assumePredictedDiscount()"
                title="Assumir valor previsto"
              >
                <i class="bi bi-arrow-down-circle"></i>
              </button> -->
            </div>
          </div>
        </div>
        <div class="col-4 d-flex row text-start">
          <label for="totalOtherPayersValue" class="form-label text-danger fw-bold">Descontos previstos:</label>
          <div>
                    <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="assumePredictedDiscount()"
                title="Assumir valor de desconto previsto"
              >
                <i class="bi bi-arrow-left-circle"></i>
              </button>
          <small class="text-muted" id="totalOtherPayersValue">
            {{ getTotalOtherPayersValue(month, year) | currency:'BRL':'symbol':'1.2-2' }}
          </small>
          </div>
        </div>
      </div>
      <!-- Registros Adicionais -->
      <div *ngFor="let record of additionalRecords; let i = index" class="row align-items-center">
          <span class="fw-bold col-3 d-flex justify-content-around">{{ description }}</span>
        <div class="col-2">
          <!-- <label for="value-{{ i }}" class="form-label fw-bold">Valor:</label> -->
          <input
            type="number"
            class="form-control"
            id="value-{{ i }}"
            [(ngModel)]="record.value"
            name="value-{{ i }}"
            step="10.00"
            min="0"
            title="Digite o valor"
            placeholder="Digite o valor"
          />
        </div>
        <div class="col-2">
          <!-- <label for="discounts-{{ i }}" class="form-label fw-bold">Descontos:</label> -->
          <input
          title="Digite o valor"
            type="number"
            class="form-control"
            id="discounts-{{ i }}"
            [(ngModel)]="record.discounts"
            name="discounts-{{ i }}"
            step="10.00"
            min="0"
          />
        </div>
                  <div class="col-2">
              <div>
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="assumePredictedDiscountOther(record)"
                  title="Assumir valor de desconto previsto"
                >
                  <i class="bi bi-arrow-left-circle"></i>
                </button>
                <small class="text-muted" id="totalOtherPayersValue">
                  {{ getTotalOtherPayersValue(record.month, record.year) | currency:'BRL':'symbol':'1.2-2' }}
                </small>
              </div>
            </div>

        <div class="col-2">
          <!-- <label class="form-label fw-bold">Mês/Ano:</label> -->
          <p class="mt-2">{{ record.month }}/{{ record.year }}</p>
        </div>
        <div class="col-1 d-flex justify-content-end">
          <button
            *ngIf="i === additionalRecords.length - 1"
            type="button"
            class="btn btn-danger btn-sm"
            (click)="removeLastRecord()"
            title="Remover Último Registro"
          >
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>

      <!-- Botão para Adicionar Registros -->
      <div class="row">
        <div *ngIf="idDetailsOrigin != 0" class="col-12 d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            (click)="addRecord()"
            title="Adicionar Mês"
          >
            <i class="bi bi-plus"></i>
          </button>
        </div>
      </div>
         <!-- Observação -->
      <div class="row mt-2">
        <div class="col-10">
          <label for="obs" class="form-label fw-bold">Observação:</label>
                <button
            type="button"
            class="btn btn-sm"
            (click)="toggleObsField()"
            title="Exibir/Esconder Observação"
          >
            <i class="bi" [ngClass]="showObsField ? 'bi-eye-slash' : 'bi-eye'"></i>
            {{ showObsField ? '' : '' }}
          </button>
          <textarea *ngIf="showObsField"
            class="form-control mb-2"
            id="obs"
            [(ngModel)]="obs"
            name="obs"
            rows="3"
            placeholder="Digite uma observação"
          ></textarea>
        </div>
      </div>
    </form>

  </div>



  <!-- Rodapé do Modal -->
  <div class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-secondary me-2" (click)="close()">Cancelar</button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="insertInRecords_Expenses()"
      [disabled]="!isFormValid()"
    >
      Salvar
    </button>
  </div>
</div>
