<div class="card scrollable-content">
  <div class="card-header text-bg-primary d-flex justify-content-between">
    <h5 class="card-title m-1" id="modalInsertOriginExpenseLabel">Origem Despesa</h5>
    <button type="button" class="btn-close m-1" (click)="cancel()" aria-label="Close"></button>
  </div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="description" class="form-label">Descrição</label>
        <input type="text" class="form-control" id="description" placeholder="Descrição da despesa" [(ngModel)]="description" name="description">
      </div>
      <div class="mb-3">
        <label for="observation" class="form-label">Observação</label>
        <textarea class="form-control" id="observation" rows="3" placeholder="Observação" [(ngModel)]="observation" name="observation"></textarea>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="closingDay" class="form-label">Dia de Fechamento</label>
          <input type="number" class="form-control" id="closingDay" placeholder="Dia de Fechamento" [(ngModel)]="closingDay" name="closingDay" min="0">
        </div>
        <div class="col-md-6 mb-3">
          <label for="dueDate" class="form-label">Data de Vencimento</label>
          <input type="number" class="form-control" id="dueDate" placeholder="Data de Vencimento" [(ngModel)]="dueDate" name="dueDate" min="0">
        </div>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="changeValue" [(ngModel)]="changeValue" name="changeValue">
        <label class="form-check-label" for="changeValue">Valor pode variar</label>
      </div>
    </form>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!isFormValid()">Salvar</button>
  </div>
</div>
