<div class="card">
  <div class="card-header text-bg-primary d-flex justify-content-between align-items-center">
    <h5 class="card-title m-0">Detalhes da Despesa</h5>
    <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
  </div>
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-6">
        <label class="form-label fw-bold">Descrição:</label>
      </div>
      <div class="col-6">
        <p class="form-control-plaintext">{{ record?.Details_Origin?.Description }}</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-6">
        <label class="form-label fw-bold">Data de Fechamento:</label>
      </div>
      <div class="col-6">
        <p class="form-control-plaintext">{{ record?.Details_Origin?.Closing_day !== undefined ? formatDate((record?.Details_Origin?.Closing_day || 0),month, year) : '' }}</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-6">
        <label class="form-label fw-bold">Data de Vencimento:</label>
      </div>
      <div class="col-6">
        <p class="form-control-plaintext">{{ formatDate((record?.Details_Origin?.due_date || 0), month, year) }}</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-6">
        <label class="form-label fw-bold">Valor:</label>
      </div>
      <div class="col-6">
        <p class="form-control-plaintext">{{ record?.value | currency:'BRL':'symbol':'1.2-2' }}</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-6">
        <label class="form-label fw-bold">Descontos:</label>
      </div>
      <div class="col-6">
        <p class="form-control-plaintext">{{ record?.discounts | currency:'BRL':'symbol':'1.2-2' }}</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-6">
        <label class="form-label fw-bold">Valor Final:</label>
      </div>
      <div class="col-6">
        <p class="form-control-plaintext">{{ ((record?.value ?? 0) - (record?.discounts ?? 0)) | currency:'BRL':'symbol':'1.2-2' }}</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-6">
        <label class="form-label fw-bold">Status:</label>
      </div>
      <div class="col-6">
        <p class="form-control-plaintext">
          <span [ngClass]="record ? classByStatus(record) : ''">
            {{ record?.payment ? 'Pago' : 'Pendente' }}
          </span>
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-6">
        <label class="form-label fw-bold">Valor Definitivo:</label>
      </div>
      <div class="col-6">
        <p class="form-control-plaintext">{{ record?.definitive_value ? 'Sim' : 'Não' }}</p>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <button type="button" class="btn btn-secondary" (click)="close()">Fechar</button>
  </div>
</div>
